body{
	background-image: url('christmas-dark.png');
}

p{

}

h3{
color: #FFBCOO;
	font-size: 40px;
	font-family:"Passion One";
	margin-bottom:0px;
}

li{

}

#Header{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border:solid 8px black;
	background-color: #8E41D5;

}

#Header h1{
	font-size: 60px;
	font-family: "Roboto Condensed;
	color: #FFBC00;
	font-weight: bold;
	background-color: #8E41D5;
	
}

#LeftNav{
	float: left;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border:solid 8px black;
	text-align: center;
	background-color: #8E41D5;


	
}

#LeftNav img{float: left;
	
}

#LeftNav ul{
	float: left;
	list-style-type: none;
	padding-left: 0px;
	padding-bottom: 8px;

	
}

#LeftNav h3{
	float: left;
	color: #FFBCOO;
	font-size: 40px;
	font-family:"Passion One";
	margin-bottom:0px;
	
}

#Content{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border:solid 8px black;
	text-align: center;
	padding: 15px;

	
	font-weight: bold;
	font-family: "Arial;
	color: white;
	background-color: #8E41D5;
	
}

#Footer{

	border:solid 8px black;
	text-align: center;
	background-color: #8E41D5;
	color: #FFBCOO;
	font-weight: bold;
	font-size: 24px;
}
ul {
	list-style-type: none;
	padding-left: 0px;}
